{% extends 'pomco/base.html' %}
<!-- pomco/topbar_base.html -->

{% block topbar_content %}

{% include 'pomco/topbar.html' %}

{% include 'pomco/teams_drawer.html'%}

{% if user.is_email_confirmed == False%}

<div class="alert alert-warning">
  Please confirm, your email address:{{user.email}}
  <a href="{% url 'send_email_confirmation_mail' %}" class="js-send-email-confirmation-mail">Resend email.</a>
</div>
{% endif %}

{% if user.is_authenticated %}

{% include 'pomco/create_team_modal.html' %}


{% endif %}

{% endblock %}
