<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}

    <!-- dependencies -->
    <script src="{% static 'pomco/jquery-3.1.1.js'%}"></script>
    <script src="{% static 'pomco/js.cookie.js'%}"></script>
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <script src="{% static 'd3.js'%}"></script>

    <!-- app -->
    <script src="{% static "js/all.js"%}"></script>

    <!-- data url -->
    <script> window.pomcodata = "{% static "pomco/data.csv" %}" </script>

    <!-- style -->
    <link href="{% static 'less/style.css'%}"
          rel="stylesheet"
          type="text/css"></link>

  </head>

  <body>

    {% include 'pomco/topbar.html' %}
    {% include 'pomco/teams_drawer.html'%}
    {% if user.is_email_confirmed == False%}
    <div class="alert alert-warning">
      Please confirm, your email address:{{user.email}}
      <a href="{% url 'send_email_confirmation_mail' %}" class="js-send-email-confirmation-mail">Resend email.</a>
    </div>
    {% endif %}
    
    {% include 'pomco/create_team_modal.html' %}
    
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
