{% extends 'pomco/base.html'%}

{% block content %}

  <h1>Welcome to pomco</h1>

  {% if team_list %}
  <div class="main-team-list">
  <ul class="large-team-list">
    {% for team in team_list %}
    <li class="large-team-tile">
      <div class="large-team-tile-wrapper">
        <div class="large-team-tile-background"></div>
        <div class="large-team-tile-fade"></div>
        <a class="large-team-tile-link"
           href="{% url 'team' team.id %}">
          <span class="large-team-tile-info">
            <span class="large-team-tile-name">{{team.team_name}}</span>
          </span>
          <span class="large-team-tile-aggregate">
            <div class="js-team-aggregate"
                 data-members="{{team.members}}"
                 ></div>
          </span>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>
  </div>

  <a class="js-create-team"
     href="#">

    Create new team[TODO]

  </a>

  {% else %}

  <p>No teams are available.</p>

  {% endif %}

  {% include "pomco/create_team.html"%}

{% endblock %}
