<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}

    <!-- dependencies -->
    <script src="{% static 'pomco/jquery-3.1.1.js'%}"></script>
    <script src="{% static 'pomco/js.cookie.js'%}"></script>
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <script src="{% static 'd3.js'%}"></script>

    <!-- app -->
    <script src="{% static "js/all.js"%}"></script>
    <script src="{% static "js/tableau.js"%}"></script>
    <script src="{% static "js/statsmpg.js"%}"></script>
    
    <!-- data url -->
    <script>
      window.pomcodata = "{% url 'stats' stats='l1mpg' %}"
      {% if stats %}
      window.l1statsmpg = {
      playersurl:"{% url 'stats' stats=stats table='players'%}",
      teamsurl:"{% url 'stats' stats=stats  table='teams'%}"
      }
      {% endif %}
    </script>

    <!-- style -->
    <link href="{% static 'less/style.css'%}"
          rel="stylesheet"
          type="text/css"></link>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  </head>

  <body>
    {% block topbar_content %}{% endblock %}
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
