{% load pomco_extras %}
<ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stats <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'team' stats='l1mpg' team_id=team.url_id%}">L1 mpg</a></li>
      <li><a href="{% url 'team' stats='l1lequipe' team_id=team.url_id%}">L1 l'equipe</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="{% url 'team' stats='plmpg' team_id=team.url_id%}">PL mpg</a></li>
    </ul>
  </li>
</ul>
<div class="navbar-form navbar-left">
  <!-- <select class="selectpicker" data-width="120px"> -->
  <!--   <optgroup label="L1"> -->
  <!--     <option -->
  <!--        {% if stats == 'l1mpg' %} selected {% endif %} -->
  <!--        title="<span class='text-muted'>L1</span> mpg" -->
  <!--        value="l1mpg"><a href="{% url 'team' stats='l1mpg' team_id=team.url_id%}">mpg</a></option> -->
  <!--     <option -->
  <!--        {% if stats == 'l1lequipe' %} selected {% endif %} -->
  <!--        title="<span class='text-muted'>L1</span> l'equipe" -->
  <!--        value="l1lequipe">l'equipe</option> -->
  <!--   </optgroup> -->
  <!--   <option -->
  <!--      {% if stats == 'plmpg' %} selected {% endif %} -->
  <!--      value="pl">PL</option> -->
  <!-- </select> -->
  <button type="button"
          class="btn btn-default js-teams-menu"
          {% disabled_if_not_logged_in user %}
          >
    Teams
  </button>
</div>

