{% extends 'pomco/base_pomco.html'%}
{% load pomco_extras %}

{% block content-no-container %}

<div class="js-team-view js-team-aggregate" data-members='{{team.members}}'>
  <div class="form-inline">
    <div class="checkbox">
      <label>
        <input class="js-aggregate-days" type="checkbox"> Aggregate Days
      </label>
    </div>
    <button class="btn btn-default" type="submit" onclick="tableau._group($tableau[0], 'team')">Group by Team</button>
    <button class="btn btn-default" type="submit" onclick="tableau._group($tableau[0], 'poste')">Group by Poste</button>
    <button class="btn btn-default" type="submit" onclick="tableau._group($tableau[0], null);">Clear group</button>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="sortTotalMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Order Total
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="sortTotalMenu">
        <li><a href="#" onclick="tableau._sort($tableau[0], null);">Initial</a></li>
        <li><a href="#" onclick="tableau._sort($tableau[0], '<');">Ascending</a></li>
        <li><a href="#" onclick="tableau._sort($tableau[0], '>');">Descending</a></li>
      </ul>
    </div>
  </div>
</div>

{% if team.editable %}
   
<div class="players-select">
  
  <input type="button"
	 class="js-validate-players"
	 value="ok"
	 data-url = "{{team.url}}"/>
  
  <div class="js-players-list"></div>
  
  <input type="button"
	 class="js-validate-players"
	 value="ok"
	 data-url = "{{team.url}}"/>
  
</div>

{% endif %}
{% endblock %}
