<ul class="sidebar-teams-list">

  {% for team in team_list %}

  <li class="compact-team-tile">
    <div class="compact-team-tile-wrapper">
      <span class="compact-team-tile-background"></span>
      <span class="compact-team-tile-fade"></span>
      <a class="compact-team-tile-link"
         href="{{team.url}}">
        <span class="compact-team-tile-thumbnail"></span>
        <span class="compact-team-tile-link-text-name">
          {{ team.team_name }}</span>
        {% if team.no_editable != True %}
        <span class="glyphicon glyphicon-remove compact-team-tile-link-remove"></span>
        {% endif %}
    </a>
    </div>
  </li>
  
  {% endfor %}

</ul>
