{% extends 'pomco/base_pomco.html'%}

{% block content %}
<div class="row">
<div class="col-md-8 col-md-offset-2">
  <div class="js-team-view js-team-aggregate" data-members='{{team.members}}'></div>
</div>
</div>

<!-- {% include 'pomco/large_team_tile_list.html' with team_list=detail_team_list %} -->

<a href="#"
   class="js-add-player"
   data-members = '{{team.members}}'
   data-team-id = {{team.id}}>
  Add a player... </a>

{% if editable %}
   
<div class="players-select">
  
  <input type="button"
	 class="js-validate-players"
	 value="ok"
	 data-url = "{{team.url}}"/>
  
  <div class="js-players-list"></div>
  
  <input type="button"
	 class="js-validate-players"
	 value="ok"
	 data-url = "{{team.url}}"/>
  
</div>

{% endif %}
{% endblock %}
