appdirs==1.4.3
dj-database-url==0.4.2
Django==1.9.7
django-realtime==1.1
gunicorn==19.6.0
httplib2==0.9
numpy==1.9.2
packaging==16.8
psycopg2==2.7.1
py==1.4.33
pyparsing==2.2.0
pyserial==2.7
pytest==3.0.7
python-http-client==2.2.1
sendgrid==3.6.3
six==1.10.0
whitenoise==2.0.6
