@import "../bootstrap-3.3.7/less/bootstrap.less";

@import "compact-team-tile.less";
@import "large-team-tile.less";
@import "teams-drawer.less";
@import "fancy-scrollbar.less";



.players-select{
    visibility:hidden;
}

.show{
    visibility:visible;
}


body {
    padding-top: 70px;
}

/* center the logo in the topbar */
.navbar-header {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

ul{
    list-style-type: none;
    padding-left:0px;
}

.alert{
    margin-top:-@navbar-margin-bottom;
}


.y.axis {
    & line{
        stroke:white;
        stroke-opacity:0.2;
    }
    & path{
        display: none;
    }
    & .zero line{
        stroke:black;
        stroke-opacity:1;
    }
}

rect.day{
    fill:blue;
}

/* removes button outline */
.btn:focus, .btn:active, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
    outline:none;
}
