{% extends 'base.html'%}
{% block content %}
<h1>Create a Pomco Account</h1>
<form action="{% url 'signup' %}" method='post'>
  {% csrf_token %}

  <div class="form-group">
    <label for="inputEmail">Name</label>
    {{form.full_name}}
  </div>
  
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    {{form.email}}
  </div>

  <div class="form-group">
    <label for="inputPassword">Password</label>
    {{form.password}}
  </div>
  <button type="submit" class="btn btn-default">Submit</button>  
</form>
{% endblock %}
